<div class="container mx-auto md:px-5">
  <%# 横スクロールが必要な場合は、カレンダー自体を囲う %>
  <div class="overflow-x-auto h-dvh">
    <div class="min-w-[600px] h-full">
      <%= month_calendar(events: @events, start_day: :sunday) do |date, events| %>
        <%# パーシャルの instance_exec からここに中身が入る %>
        <div class="space-y-1 px-0.5">
          <% events.each do |event| %>
            <%= link_to edit_event_path(event), data: { turbo_frame: "modal" }, class: "block" do %>
              <div class="text-[11px] md:text-lg leading-tight bg-blue-50 text-blue-700 px-1 py-0.5 rounded border border-blue-100 truncate hover:bg-blue-100">
                <span class="font-bold text-gray-500">
                  <%#= event.start_time.strftime("%H:%M") %>
                </span>
                <%= event.title %>
              </div>
            <% end %>
          <% end %>
          <%# ＋ボタン %>
          <%= link_to "+", new_event_path(date: date), 
              data: { turbo_frame: "modal" },
              class: "block text-center text-gray-300 hover:text-blue-500 text-sm py-1" %>
        </div>
      <% end %>
    </div>
  </div>
</div>